<!--CITE: Anand Doshi, section-week-14-->
<!DOCTYPE html>
<html>
    <font face="Verdana">
    <head>
        <!--<meta charset="utf-8">-->
        <title>Fake Abstract Generator</title>
        <h1 align='center'>Fake Abstract Generator</h1>
    </head>
    <body>
        <header>
            <h3 align='center'>Generate Abstract</h3>
            <p align='center'>Order N of Markov Chain (e.g. 1):</p>
            <p align='center'> Note that a higher Order N will result in less unique abstracts (that likely make more sense), while a lower order of N will result in more unique but more nonsensical abstracts. A good range would be [1,7]</p>
            <form align='center' method="POST">
                <input type="text" name="text">
                <input type="submit" value="Submit">
            </form>
        </header>
    </body>
    </font>
</html>
